<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Student filter dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static "vendors/iconfonts/mdi/css/materialdesignicons.min.css"%}">
  <link rel="stylesheet" href="{% static "vendors/css/vendor.bundle.base.css"%}">
  <link rel="stylesheet" href="{% static "vendors/css/vendor.bundle.addons.css"%}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static "css/style.css"%}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static "images/favicon.png"%}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% include 'partials/navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      {% include 'partials/sidebar.html' %}

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          
          {% block content %}
          {% endblock content %}
          
          
        </div>
        <!-- content-wrapper ends -->
        
        <!-- partial:partials/_footer.html -->
        {% include 'partials/footer.html' %}

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{% static "vendors/js/vendor.bundle.base.js"%}"></script>
  <script src="{% static "vendors/js/vendor.bundle.addons.js"%}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static "js/off-canvas.js"%}"></script>
  <script src="{% static "js/misc.js"%}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static "js/dashboard.js"%}"></script>
  <!-- End custom js for this page-->
</body>

</html>