<!DOCTYPE html>

<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>500 error</title>
</head>
<body style="background-color: rgb(212, 227, 227);">
     
     <div class="error" style="margin-top: 200px;">
          <h1 style="text-align: center;">Internal Server Error</h1>
          <h1 style="text-align: center;">500</h1>
     </div>
     <hr>
     <h3 style="text-align: center; margin-top: 50px;">Sorry, Something went wrong :( </h3>
          

     
     
</body>
</html>